[submodule "ziglua/ziglua"]
	path = ziglua/ziglua
	url = https://github.com/natecraddock/ziglua
[submodule "singlua/ziglua"]
	path = singlua/ziglua
	url = https://github.com/natecraddock/ziglua
[submodule "singlua/lua"]
	path = singlua/lua
	url = https://github.com/lua/lua
[submodule "c-janet-embed/janet"]
	path = c-janet-embed/janet
	url = https://github.com/janet-lang/janet
[submodule "zig-janet-embed/janet"]
	path = zig-janet-embed/janet
	url = https://github.com/janet-lang/janet
[submodule "c-fzy/fzy"]
	path = c-fzy/fzy
	url = https://github.com/jhawthorn/fzy
[submodule "ex_gleam_submodule_package/vendor/maths"]
	path = ex_gleam_submodule_package/vendor/maths
	url = https://github.com/gleam-community/maths
[submodule "ex_gleam_k255_fork/src/k256"]
	path = ex_gleam_k255_fork/src/k256
	url = https://github.com/Comamoca/k256
